:root {
    --color-background-body: #F7F7F8;
    --grey-100: #f0f0f0;
    --grey-200: #dfdfdf;
    --purple: #9147FF;
    --purple-transparent: #9147FF42;
    --purple-dark: #772CE8;
    --black: #3c3c3c;
    --color-background-input: #E5E5E5;
    --color-border-input: #0000001a;
    --color-fill-alert: #E81B16;
    --color-btn-alert: #ED4245;
    --color-btn-alert-hover: #C03537;
    --color-fill-success: #00E4C9;
}